.questions{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
	padding-left: 50px;
	padding-right: 50px;
	width: 100%;
	height: 210px;
	background-color: #F4F4F4;
	border-radius: 50px;
	border: 1px solid;
	transition: 0.5s ease;
}
.questions:hover{
	transform: scale(1.025);
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@media (max-width: 1280px) {
	.questions{
		flex-direction: column;
		padding: 0;
		justify-content: center;
		gap: 20px;
		text-align: center;
	}
}