.affiliateProgram{
	padding: 50px;
	margin-top: 70px;
	margin-bottom: 75px;
	width: 100%;
	height: fit-content;
	background-color: #ECECEC;
	border-radius: 50px;
	transition: 0.5s ease;
}
.affiliateProgram:hover{
	transform: scale(1.025);
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.affiliateProgram_title{
	text-wrap: wrap;
	display: flex;
	justify-content: center;
	padding-bottom: 60px;
	text-align: center;
}
.affiliateProgram_items{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.affiliateProgram_desk{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.affiliateProgram_items img{
	width: 500px;
}

@media (max-width: 1365px) {
	.affiliateProgram_items{
		flex-direction: column;
	}
	.affiliateProgram_desk{
		text-align: center;
		align-items: center;
	}
	.affiliateProgram_items img{
		width: 400px;
	}
}
@media (max-width: 1100px) {
	.affiliateProgram_items img{
		width: 300px;
	}
}