.reviews{
	width: 100%;
	height: 240px;
	background-image: url('../../../../public/bg_services.png');
	border-radius: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.5s ease;
}
.reviews:hover{
	transform: scale(1.025);
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.reviews_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	height: 100%;
	padding-left: 50px;
}
.reviews_title h2{
	color: white;
}
.reviews_title h3{
	color: #bcbcbc;
	text-decoration: underline;
}