.adminServices_content{
	height: fit-content;
	background-color: #E9E9E9;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 60px 160px 60px 160px;
}

@media (max-width: 1000px) {
	.adminServices_content{
		padding-right: 50px;
		padding-left: 50px;
	}
}
@media (max-width: 500px) {
	.adminServices_content{
		padding-right: 10px;
		padding-left: 10px;
	}
}