.job{
	margin-bottom: 70px;
}
.job h2{
	margin-bottom: 60px;
}
.job_items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 20px;
	width: 100%;
	height: fit-content;
	background-color: #F4F4F4;
	border-radius: 50px;
	border: 1px solid;
	transition: 0.5s ease;
}
.job_items:hover{
	transform: scale(1.025);
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.job_title{
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: normal;
}
.job_title input{
	margin-top: 60px;
}
.job_items img{
	height: 300px;
	width: auto;
    max-width: 100%;
}

@media (max-width: 1150px) {
	.job_items{
		justify-content: center;
		text-align: center;
		gap: 50px;
	}
	.job_title{
		align-items: center;
		word-wrap: break-word;
	}
	.job_title input{
		margin-top: 20px;
	}
	.job_items img{
		border-radius: 50px;
		width: 300px;
	}
}
@media (max-width: 750px) {
	.job_items{
		gap: 20px;
		flex-direction: column;
	}
	.job_items{
		padding: 20px;
	}
	.job_items img{
		background-color: rgb(224, 224, 224);
	}
}
@media(max-width: 520px) {
	.job h2{
		margin-bottom: 30px;
	}
}