header{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}
header nav{
	display: flex;
	justify-content: center;
	gap: 20px;
	font-weight: bold;
	letter-spacing: 0.1em;
	color: #bcbcbc;
	padding-top: 40px;
}
header nav h4{
	color: #929292;
}
header nav h4:hover{
	color: rgb(0, 0, 0);
}
.nav2{
	display: flex;
	align-items: center;
	height: 100%;
}
.nav2 svg{
	display: flex;
	align-items: center;
	height: 100%;
}

@media (max-width: 1000px) {
	.nav2 svg{
		height: 20px;
	}
}