footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 400px;
	background-color: #24201E;
	padding-left: 160px;
	padding-right: 160px;
	color: white;
}
.footer_contacts{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.phone{
	color: #B3B3B3;
}
.footer_map{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.footer_map h3{
	text-align: center;
}
.footer_map img{
	width: 400px;
	border-radius: 50px;
}

@media(max-width: 1000px) {
	footer{
		padding-left: 50px;
		padding-right: 50px;
	}
	.footer_map img{
		width: 300px;
	}
}
@media(max-width: 520px){
	footer{
		flex-direction: column;
		justify-content: center;
		gap: 50px;
	}
	.footer_contacts, .footer_map{
		gap: 10px;
	}
}
@media(max-width: 500px) {
	footer{
		padding-left: 10px;
		padding-right: 20px;
	}
}