.lists{
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 60px;
}
.requests{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #E7E7E7;
	border-radius: 50px;
}
.requests h3{
	display: flex;
	align-items: center;
	height: 100%;
	width: fit-content;
	font-weight: 500;
}
.requests_list{
	width: 100%;
	height: fit-content;
	border-radius: 50px;
	background-color: #F6F6F6;
	padding-left: 20px;
	padding-right: 20px;
}
.request{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	height: fit-content;
}
.request_header h3:first-child{
	font-weight: 500;
}
.request_header h3:last-child{
	font-weight: 200;
}
.request_header{
	text-align: center;
}
.request_header h3:last-child{
	cursor: pointer;
}
.request_header h3:last-child:hover{
	color: red;
}
.request_info{
	display: flex;
	gap: 30px;
	user-select: text;
}
.request_info h3{
	font-weight: 200;
}
.border{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 50px;
	border: 1px solid black;
}
.svgs{
	display: flex;
	align-items: center;
	gap: 20px;
}
.svgs svg{
	cursor: pointer;
}

@media (max-width: 650px) {
	.request_info{
		flex-direction: column;
		text-align: center;
		gap: 10px;
	}
	.request{
		padding-top: 10px;
		gap: 20px;
	}
}