.modal {
    display: flex;
	flex-direction: column;
	padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 70vw;
    height: 90vh;
    z-index: 1000;
    border-radius: 50px;
}
.modal_header{
	display: flex;
	justify-content: center;
    position:   relative;
    padding-right: 70px;
    padding-left: 70px;
}
.modal_title{
    text-align: center;
}
.modal_title h3{
    color: #5A5A5A;
}
.modal_header svg{
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.modal_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal_info{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media (max-width: 680px) {
    .modal{
        padding: 10px;
        height: 70vh;
    }
    .modal_header svg{
        width: 50px;
    } 
}
@media (max-width: 560px){ 
    .modal{
        height: 67vh;
        width: 80vw;
    }
    .modal_header svg{
        width: 40px;
    } 
    .modal_header{
        padding-right: 30px;
        padding-left: 30px;
    }
    .modal_form input, .modal input[type="submit"]{
        width: 60vw;
    }
}