.services{
	margin-top: 50px;
	margin-bottom: 60px;
}
.services_title{
	display: flex;
	justify-content: space-between;
}
.cards{
	margin-top: 70px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	gap: 40px;
}
.card{
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 20px;
	align-items: center;
	width: 320px;
	height: 320px;
	background-color: #ECECEC;
	border-radius: 50px;
	transition: 0.5s ease;
}
.card:hover{
	transform: scale(1.025);
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.card_text{
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	gap: 5px;
	text-align: center;
}
.card_text h4{
	color: #8E8E8E;
}
.card_text h4:last-of-type{
	color: #FFCA0E;
}
.card img{
	width: 160px;
	height: 160px;
}

@media (max-width: 1000px) {
	.card{
		width: 200px;
		height: 200px;
	}
	.card img{
		width: 100px;
		height: 100px;
	}
	.card_text{
		padding-top: 5px;
		gap: 0;
	}
	.cards{
		gap: 20px;
	}
}
@media(max-width: 520px){
	.services_title{
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}
	.cards{
		justify-content: center;
		gap: 10px;
		margin-top: 30px;
	}
	.card img{
		width: 80px;
		height: 80px;
	}
}
@media(max-width: 430px) {
	.card{
		width: 160px;
		height: 160px;
	}
	.card img{
		width: 70px;
		height: 70px;
	}
}